<p>A free to use golf handicap generator.</p>
<p>Unlike the official GHIN handicap, Handicap is free!</p>
<p>First upload a picture of your scorecard after you finish your round.</p>
<p>Once you have the time, fill out an online scorecard.</p>
<p>A minimum of 5 rounds is needed to create an accurate handicap.</p>
<p>This app will work on any web browser and iOS using Safari</p>