<div class="about-content">
  <div class="transbox">
    <p>Welcome to Handicap, an easy-to-use  golf handicap generator.</p>

    <p>Unlike the official GHIN handicap, Handicap is <strong>free!</strong></p>
  </div>
</div>