/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: url('golfmountains.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sitename {
    text-align: center;
}

#page-content {
    text-align: center;
}

.about-content {
    margin: auto;
    width: 500px;
    height: 100%;
}

.transbox {
    width: 400px;
    height: 100%;
    margin: 30px 50px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 30px 40px;
    font-weight: bold;
    color: #000000;
}

.nav {

    text-align: center;
    width: 100%;
    display: inline-block;
}

#home {
    display: inline-block;
}

#about {
    display: inline-block;
}

#login {
    display: inline-block;
}

.logo {
    background: url('logo.png') no-repeat;
    height: 70px;
    position: absolute;
    width: 200px;
}